[submodule "gravyflow"]
	path = gravyflow
	url = https://github.com/mrknorman/gravyflow.git
[submodule "chapter_06_skywarp/skywarp"]
	path = chapter_06_skywarp/skywarp
	url = https://github.com/mrknorman/skywarp.git
[submodule "chapter_07_crosswave/crosswave"]
	path = chapter_07_crosswave/crosswave
	url = https://github.com/mrknorman/crosswave.git
[submodule "dragonn"]
	path = dragonn
	url = https://github.com/mrknorman/dragonn.git
